.wrapper {
    height: 100vh;
    width: 100%;

    .details {
        height: 92vh;
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .head {
            font-size: xx-large;
            font-weight: bold;
            text-align: left;
            margin-bottom: 20px;
            width: 80%;
        }

        .img {
            height: 150px;
            width: 90%;
            border-radius: 15px;
            margin-bottom: 40px;
            object-fit: cover;
            img {
                width: 100%;
            }
        }
        & > div {
            width: 80%;
        }
        .Name {
            font-size: xx-large;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .subhead {
            font-weight: bold;
            font-size: large;
            margin-bottom: 10px;
        }
        .info {
            font-size: large;
            margin-bottom: 20px;
        }

        ul {
            padding: 0;
            width: 70%;
            list-style: none;
        }

        li {
            padding-left: 10px;
            position: relative;
            &::before {
                color: #ff7886;
                content: "\2022";
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                position: absolute;
                top: 0%;
                font-size: x-large;
            }
        }
    }
}
